@import url('variables.css');


@media screen and (min-width: 500px) {

    .listaImagenes img {
        width: 8.25rem;
        height: 7rem;
    }

    .imagenContainer {
        height: calc(7rem * 4);
        width: 75%;

    }
}


@media screen and (min-width: 768px) {

    #listaMarcas li {
        font-size: 1rem;
    }

    .listaImagenes img {
        width: 8.25rem;
        height: 7rem;
    }

    .imagenContainer {
        height: calc(7rem * 4);
        width: 75%;

    }

}


@media screen and (min-width: 992px) {

    header {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 1rem 1.5rem 1.5rem;
        gap: 1rem;
    }

    ul {
        flex-direction: row;
        height: auto;
    }

    #carroSelector {
        padding: 0.5rem;
        border-radius: 6px;
    }

    #marcaSelector {
        display: none;
    }

    #listaMarcas {
        display: block;
        width: 90%;
    }

    #marcasContainer {
        padding-top: 8rem;
    }

    .botones {
        width: fit-content;
        align-self: flex-end;
        background-color: unset;
    }

    .card {
        flex-direction: row;
        justify-content: space-around;
    }

    .listaImagenes img {
        width: 9.25rem;
        height: 7rem;
    }

    .imagenContainer {
        height: calc(7rem * 4);
        width: 22rem;
    }
    
    .informacion {
        width: 50%;
        justify-content: center;
    }
}


@media screen and (min-width: 1200px) {

    .listaImagenes img {
        width: 13.25rem;
        height: 9.5rem;
    }

    .imagenContainer {
        height: calc(9.5rem * 4);
        width: 40rem;
    }

    .informacion {
        width: 38%;
    }
    
}